body {
    font-family: 'Arial', sans-serif;
    margin: 0;
}

/* ........................COVER.................. */

.invitation-cover {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-image: url('gallery4.JPG'); /* Change this to the path of your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width:auto;
}

.cover-content {
    padding: 20px;
    background-color: rgba(149, 157, 179, 0.4);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 90%;
    margin: auto;
    max-width: 300px;
    line-height:0.8;
    color: white;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

.invitation-content {
    display: none;
    flex-direction: column;
    width: 100%;
}

.couple {
    font-size: 4em;
    font-weight: bold;
    font-family: "Updock", cursive;
    font-weight: 400;
    font-style: normal;

}

.guest {
    font-size: 1.3em;
    margin-top: 10px;
}

.invite-text {
    font-size: 1em;
    margin-bottom: 20px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #6E7690;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    background-color: #959DB3;
}



/* ................................SECTION........................ */
.section {
    font-family: "Old Standard TT", serif;
    font-weight: 400;
    font-style: normal;
}
.section h2 {
    font-family: "Updock", cursive;
    font-weight: 400;
    font-style: normal;
    font-size:3em;
}
/* .......SECTION 1........... */

#section1 {
    background-image: url('gallery4.JPG'); /* Desktop background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height:100vh;
}

.couple-name {
    font-size: 7em;
    color: black;
    margin: 20px;
    padding:20px;
    font-family: "Updock", cursive;
    font-weight: 400;
    font-style: normal;
    padding-bottom:30px;
    border-radius: 10px; /* Add border radius */
    background-color: rgba(149, 157, 179, 0.4);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* ..........SECTION 2......... */
#section2 {
    background-color: #ffff; /* Change background color if needed */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    flex-direction:row;
    padding:10%;
}

.quran-verse {
    max-width: 600px;
    text-align: center;
}

.verse {
    font-size: 24px;
    line-height: 1.6;
    font-weight: bold;
}

.translation {
    font-size: 18px;
    margin-top: 10px;
}

.surah {
    font-size: 16px;
    margin-top: 10px;
}

/*.............. SECTION 3.............. */
#section3 {
    background-color: #ffff; /* Change background color if needed */
}

#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.unit {
    text-align: center;
    margin: 20px;
    display: inline-block;
    border: 2px solid #6E7690; /* Border color */
    border-radius: 10px; /* Border radius */
    padding: 10px; /* Padding inside the box */
}

.unit span {
    display: block;
    font-size: 24px;
}

.number {
    font-size: 36px;
    font-weight: bold;
    color: #6E7690; /* Number color */
}

.label {
    font-size: 18px;
    color: #555; /* Label color */
}

/* .............section 4 profile........... */
#section4 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    padding-top:10%;
}

.profile {
    margin: 40px;

}

.profile img {
    width: 300px; /* Adjust image width as needed */
    height: 300px; /* Adjust image height as needed */
    border-radius: 50%; /* Make the image round */
    object-fit: cover; /* Ensure the image covers the entire circle */
}

.profile-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding:10%;
    border-radius: 10px; /* Add border radius */
    background-color: rgba(149, 157, 179, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.profile-info h3 {
    margin-bottom: 5px;
}

.profile-info p {
    margin-bottom: 10px;
}

.instagram-button {
    padding: 8px 16px;
    background-color: #6E7690;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.instagram-button:hover {
    background-color: #959DB3;
}

/* .............SECTION 5 ............. */
#section5 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    padding-top:10%;
}

.wedding-detail {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.event {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px; /* Add border radius */
    background-color: rgba(149, 157, 179, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.event h3 {
    margin-bottom: 10px;
}

.event p {
    margin-bottom: 10px;
}

.location-button {
    padding: 8px 16px;
    background-color: #6E7690;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.location-button:hover {
    background-color: #959DB3;
}

/* .........SECTION 6............ */
.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 20px;
}

.gallery-title {
    text-align: center;
    margin-top: 60px;
}

.gallery img {
    width: 100%;
    border-radius: 10px; /* Optional: add border-radius for rounded corners */
}
/* .............SECTION 7........ */
/* Center the content */
#section7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Form styles */
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

textarea {
    width: 300px;
    padding: 10px;
    border: 1px solid #6E7690;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing of textarea */
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #6E7690;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #959DB3;
}
/* ...........SECTION 8............. */
#section8 {
    background-image: url('gallery2.JPG'); /* Mobile background image */
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    margin:20px;
    height: 100vh; /* Set height to 100% of viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#section8 h2 {
    font-family: "Updock", cursive;
    font-weight: 700;
    font-style: normal;
    font-size:7em;
}
#section8 p {
    font-size:1.5em;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    color:white;
}

.thank-you {
    max-width: 600px;
    margin: 0 auto;
    line-height:0.5;
}

/* ...........SECTION 9............. */
/* Center the content */
#section9 {
    text-align: center;
}

.brand-logo img {
    max-width: 200px;
    margin-bottom: 20px;
}

.social-media {
    margin-top: 20px;
}

.social-media a {
    display: inline-block;
    margin: 0 10px;
}

.social-media img {
    width: 40px; /* Adjust size as needed */
    height: auto;
}

/* ..............GIFT......... */
/* Gift section styles */
#gift {
    text-align: center;
    padding: 50px 20px;
}

.gift-details {
    background-color: rgba(149, 157, 179, 0.1);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
}

.gift-details p {
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background-color: #6E7690;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #959DB3;
}


/* ...............  ANIMATION............... */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes floatIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Common animation class */
.fade-in {
    animation: fadeIn 5s ease-out forwards;
}

.float-in {
    opacity: 0;
    transform: translateY(20px);
    animation: floatIn 5s ease-out forwards;
}

/* .....................AUDIO CONTROL.................... */
.audio-controls {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999; /* Ensure it's above other content */
    text-align: center;
    display: none; /* Initially hide the button */
}

.play-btn {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

/* ......................MEDIA QUERY..................... */
@media (max-width: 600px) {
    .couple {
        font-size: 4em;
    }
    .guest {
        font-size: 1.7em;
    }
    button {
        font-size: 1em;
        padding: 8px 16px;
    }

    /* SECTION1 */
    #section1 {
        background-image: url('gallery7.JPG'); /* Mobile background image */
    }
    .couple-name {
        font-size: 5em;
        margin: 5px 5px 150px 5px;
        padding:10px;
    }
    /* SECTION 2 */
    #section2 .quran-verse {
        max-width: 90%;
    }
    /* SECTION3 */
    .unit {
        margin: 5px;
    }
    
    .number {
        font-size: 18px;
    }
    
    .label {
        font-size: 12px;
    }
    /* SECTION 4 */
    #section4 {
        flex-direction: column; /* Stack content vertically */
        align-items: center; /* Align content to the start */
        padding:20%;
    }
    /* SECTION 5 */
    .wedding-detail {
        flex-direction: column;
        align-items: center;
    }
    .event {
        margin-bottom: 20px;
        margin-left: 0;
        margin-right: 0;
        width: 80%; /* Adjust width as needed */
    }
    /* SECTION 6 */
    .gallery {
        grid-template-columns: 1fr;
    }
    /* SECTION8 */
    #section8 {
        background-image: url('gallery6.JPG'); /* Desktop background image */
    }
    .thank-you {
        max-width: auto;
        margin: 0 auto;
        line-height:1;
    }
}